.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.Top {
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Title {
  color: #111913;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Description {
  color: #4f5350;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 4px;
}
.Tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}
.Menus {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
