.Container {
  width: 100%;
  height: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.ImageWrapper {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  overflow: hidden;
}
.Image {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.Right {
  display: flex;
  flex-direction: column;
}
.Title {
  color: #111913;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Shop {
  color: #4f5350;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Price {
  color: #111913;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 8px;
}
