.Container {
  width: 100%;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.Input {
  width: 100%;
  color: #111913;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  outline: none;
  padding: 8px;
}
